@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  background: #8cc461;
  min-height: 100vh;
  text-transform: uppercase;
  color: white;
}

.container {
  position: relative;
  max-width: 80vw;
  max-height: 100vh;
  margin: 0 auto;
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20vh;
  width: 70%;
  border: 3px solid rgb(255, 255, 255);
  color: white;
  border-radius: 20px;
  padding: 1rem 1rem 1rem 1rem;
}

.logo_div {
  font-size: 2.5rem;
}

.score_div {
  display: flex;
  max-width: 60%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}
.comp_score,
.my_score {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  height: 90%;
  border-radius: 10px;
  justify-content: center;
  background: white;
}

.score_title {
  text-align: center;
  color: #656565;

  font-size: 1.2rem;
}

.score_number {
  font-size: 4rem;
  color: #252525;
}

.game {
  position: relative;
  display: grid;
  grid-template-columns: (2, 1fr);
  grid-template-areas:
    'rock scissors'
    'paper paper';
  place-items: center;
  height: 40rem;
  width: 40rem;
  padding-top: 4rem;
}
.game::before {
  content: '';
  position: absolute;
  width: 50%;
  height: 50%;
  background: url('tri.png') no-repeat;
  left: 24%;
  top: 34%;
  background-size: 100%;
  z-index: -1;
}

.choice-btn {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}
.choice {
  position: relative;
  width: 8rem;
  height: 8rem;
  background: #ffffff;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.choice img {
  transform: scale(1.2);
}

.choice-btn[data-choice='paper'] {
  border: 15px solid #ffa943;
  border-radius: 50%;
  grid-area: paper;
}
.choice-btn[data-choice='scissors'] {
  border: 15px solid #bd00ff;
  border-radius: 50%;

  grid-area: scissors;
}
.choice-btn[data-choice='rock'] {
  border: 15px solid #0074b6;
  border-radius: 50%;
  grid-area: rock;
}

.choice-btn:active {
  transform: scale(1.5);
  transition: 0.5s ease-in-out;
}

.rules-btn {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  background: none;
  outline: none;
  border: 2px solid rgb(219, 219, 219);
  border-radius: 10px;
  color: white;
  padding: 0.6rem 2.5rem;
  font-family: inherit;
  text-transform: inherit;
  font-size: 1.3rem;
  letter-spacing: 0.1em;
  cursor: pointer;
}
.rules-btn:focus {
  border: 2px solid #ffffff;
}

.modal {
  position: absolute;
  height: 60%;
  width: 450px;
  bottom: 6rem;
  right: 2rem;
  display: grid;
  place-items: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
  border-radius: 10px;
  border: 10px solid white;
}
.modal__container {
  height: 100%;
  background: #004429;
  border-radius: 10px;
  color: white;
}
.modal__header {
  display: flex;
  text-align: center;
  width: 100%;
  height: 20%;
  justify-content: center;
  align-items: center;
  padding: 2rem 2rem 1rem;
}
.modal__heading {
  text-align: center;
  font-size: 2rem;
  color: var(--dark-text);
}
.close-btn {
  position: absolute;
  background: red;
  height: 5rem;
  width: 5rem;
  top: -3em;
  right: -3em;
  border: 10px solid rgb(255, 255, 255);
  border-radius: 50%;
  cursor: pointer;
}

.modal_rules {
  display: flex;
  height: 70%;
  width: 100%;
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  padding-left: 10px;
}

ul {
  margin: 0;
  padding-left: 25px;
  text-transform: initial;
}

li {
  padding-bottom: 10px;
}
li::marker {
  color: yellow;
}

.show-modal {
  opacity: 1;
  pointer-events: initial;
}

.results {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  grid-template-areas:
    'you-title ai-title'
    'you-picked ai-picked';
  max-width: 100%;
  margin: 0 auto;
}

.results__heading {
  font-size: 1.5rem;
  letter-spacing: 0.1em;
  padding: 4rem 0 8rem;
}
.results__result {
  min-width: 8rem;
  min-height: 8rem;
  background: #004429;
  border-radius: 50%;
  transform: scale(1.4);
  z-index: -1;
}

.results__heading:first-of-type {
  grid-area: you-title;
}
.results__heading:last-of-type {
  grid-area: ai-title;
}
.results__result:first-of-type {
  grid-area: you-picked;
}
.results__result:last-of-type {
  grid-area: ai-picked;
}

.hidden {
  display: none;
}

.results.show-winner {
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    'you-title . ai-title'
    'you-picked result-winner ai-picked';
}

.winner .choice::after {
  box-shadow: 0 0 0 40px #0f5821, 0 0 0 80px #07692c, 0 0 0 130px #036b51;
  animation: winner 1s ease forwards;
}

@keyframes winner {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.results__winner {
  grid-area: result-winner;
  display: grid;
  place-items: center;
}
.results__text {
  font-size: 3.5rem;
  padding-bottom: 1.5rem;
}
.play-again {
  background: #fff;
  outline: none;
  border: 2px solid transparent;
  border-radius: 0.6rem;
  color: black;
  padding: 0.6rem 3.5rem;
  font-family: inherit;
  text-transform: inherit;
  font-size: 1.3rem;
  letter-spacing: 0.1em;
  cursor: pointer;
}
.play-again:focus {
  border: 2px solid black;
}
